@model DreamLib.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <p>
                    <label>Email</label><br />
                    @Html.EditorFor(x => x.Email)
                </p>
                <p>
                    <label>Пароль</label><br />
                    @Html.EditorFor(x => x.Password)
                </p>
                <p><button type="submit">Log In</button></p>
            </div>
        }
    </div>
</div>


